@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Authmol";
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h4 class="mt-5 ">Clique em cadastrar para iniciar</h4>
    </div>
}
else
{
    <dl class="mt-5">
        <dt>CEP</dt>
        <dd>@Model.Endereco?.CEP</dd>
        <dt>Estado</dt>
        <dd>@Model.Endereco?.Estado</dd>
        <dt>Cidade</dt>
        <dd>@Model.Endereco?.Cidade</dd>
        <dt>Bairro</dt>
        <dd>@Model.Endereco?.Bairro</dd>
        <dt>Logradouro</dt>
        <dd>@Model.Endereco?.Logradouro</dd>
        <dt>Complemento</dt>
        <dd>@Model.Endereco?.Complemento</dd>
    </dl>
}
